body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    font-family: 'Courier New', Courier, monospace;

    background-color: #1d1c1c;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

#tetris-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#tutorial {
    width: 45%;
    height: 15vh;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
}

.control {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 8%;

    border-radius: 2px;
    background: #d6d6d6;
    box-shadow: 0px 0px 3px 1px #666666;
}

.control:hover {
    filter: invert(5%);
    box-shadow: 0px 0px 4px 1px #4b4949;
    cursor: pointer;
}

.control img {
    width: 40px;
    height: 40px;
    padding: 5px;
    filter: invert(10%);
}

#game-container {
    width: 45%;
    height: 65vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#board {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#stats-container {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#next-piece {
    width: 100%;
    height: 30%;

    font-size: 1.3em;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-weight: bolder;

    background-color: white;
    color: #333232;
}

#stats {
    width: 100%;
    height: 70%;

    padding-top: 10%;
    font-weight: bolder;
    font-size: 11px;
    color: white;

    text-align: center;
}

#event-container {
    width: 45%;
    height: 25vh;
}

.box {
    background-color: whitesmoke; 
    box-shadow: inset 0px 0px 0px 1px rgb(182, 182, 182);
}

#gameover-container, #gameinit-container {
    background: whitesmoke;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Tangerine', cursive !important;
    font-size: 1.7em;

    position: absolute;
    z-index: 10;
}

#gameover-container {
    display: none;
}

canvas {
    position: absolute;
    z-index: 6;
}

#gameover-container  p:first-child, #gameinit-container p:first-child {
    font-size: 3em;
}

#gameover-container p, #gameinit-container p {
    color: whitesmoke;
    text-align: center;
}

#gameinit-container p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.6em
}

#replay, #play {
    width: 2.3em;
    height: 2.3em;
    filter: invert(85%);

    transition: all 250ms;
}

#play:hover, #replay:hover {
    width: 2.5em;
    height: 2.5em;
    filter: invert(95%);
    cursor: pointer;
}